.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  color: white;
}

.icons a{
  transition:all .2s ease-in-out;

}
.icons a:hover{
  transform: translateY(-2px);
}

.action-btn{
  transition: all .2s ease-in-out;
}

.action-btn:hover{
  box-shadow: 1px 2px 5px white;
}
